$transparent: transparent !default;
$current: currentColor !default;

$white: #fff !default;
$black: #000 !default;

/* tailwind colors */
/* https://tailwindcss.com/docs/customizing-colors */

$slate-50: #f8fafc !default;
$slate-100: #f1f5f9 !default;
$slate-200: #e2e8f0 !default;
$slate-300: #cbd5e1 !default;
$slate-400: #94a3b8 !default;
$slate-500: #64748b !default;
$slate-600: #475569 !default;
$slate-700: #334155 !default;
$slate-800: #1e293b !default;
$slate-900: #0f172a !default;

$grey-50: #f9fafb !default;
$grey-100: #f3f4f6 !default;
$grey-200: #e5e7eb !default;
$grey-300: #d1d5db !default;
$grey-400: #9ca3af !default;
$grey-500: #6b7280 !default;
$grey-600: #4b5563 !default;
$grey-700: #374151 !default;
$grey-800: #1f2937 !default;
$grey-900: #111827 !default;

$zinc-50: #fafafa !default;
$zinc-100: #f4f4f5 !default;
$zinc-200: #e4e4e7 !default;
$zinc-300: #d4d4d8 !default;
$zinc-400: #a1a1aa !default;
$zinc-500: #71717a !default;
$zinc-600: #52525b !default;
$zinc-700: #3f3f46 !default;
$zinc-800: #27272a !default;
$zinc-900: #18181b !default;

$neutral-50: #fafafa !default;
$neutral-100: #f5f5f5 !default;
$neutral-200: #e5e5e5 !default;
$neutral-300: #d4d4d4 !default;
$neutral-400: #a3a3a3 !default;
$neutral-500: #737373 !default;
$neutral-600: #525252 !default;
$neutral-700: #404040 !default;
$neutral-800: #262626 !default;
$neutral-900: #171717 !default;

$stone-50: #fafaf9 !default;
$stone-100: #f5f5f4 !default;
$stone-200: #e7e5e4 !default;
$stone-300: #d6d3d1 !default;
$stone-400: #a8a29e !default;
$stone-500: #78716c !default;
$stone-600: #57534e !default;
$stone-700: #44403c !default;
$stone-800: #292524 !default;
$stone-900: #1c1917 !default;

$red-50: #fef2f2 !default;
$red-100: #fee2e2 !default;
$red-200: #fecaca !default;
$red-300: #fca5a5 !default;
$red-400: #f87171 !default;
$red-500: #ef4444 !default;
$red-600: #dc2626 !default;
$red-700: #b91c1c !default;
$red-800: #991b1b !default;
$red-900: #7f1d1d !default;

$orange-50: #fff7ed !default;
$orange-100: #ffedd5 !default;
$orange-200: #fed7aa !default;
$orange-300: #fdba74 !default;
$orange-400: #fb923c !default;
$orange-500: #f97316 !default;
$orange-600: #ea580c !default;
$orange-700: #c2410c !default;
$orange-800: #9a3412 !default;
$orange-900: #7c2d12 !default;

$amber-50: #fffbeb !default;
$amber-100: #fef3c7 !default;
$amber-200: #fde68a !default;
$amber-300: #fcd34d !default;
$amber-400: #fbbf24 !default;
$amber-500: #f59e0b !default;
$amber-600: #d97706 !default;
$amber-700: #b45309 !default;
$amber-800: #92400e !default;
$amber-900: #78350f !default;

$yellow-50: #fefce8 !default;
$yellow-100: #fef9c3 !default;
$yellow-200: #fef08a !default;
$yellow-300: #fde047 !default;
$yellow-400: #facc15 !default;
$yellow-500: #eab308 !default;
$yellow-600: #ca8a04 !default;
$yellow-700: #a16207 !default;
$yellow-800: #854d0e !default;
$yellow-900: #713f12 !default;

$lime-50: #f7fee7 !default;
$lime-100: #ecfccb !default;
$lime-200: #d9f99d !default;
$lime-300: #bef264 !default;
$lime-400: #a3e635 !default;
$lime-500: #84cc16 !default;
$lime-600: #65a30d !default;
$lime-700: #4d7c0f !default;
$lime-800: #3f6212 !default;
$lime-900: #365314 !default;

$green-50: #f0fdf4 !default;
$green-100: #dcfce7 !default;
$green-200: #bbf7d0 !default;
$green-300: #86efac !default;
$green-400: #4ade80 !default;
$green-500: #22c55e !default;
$green-600: #16a34a !default;
$green-700: #15803d !default;
$green-800: #166534 !default;
$green-900: #14532d !default;

$emerald-50: #ecfdf5 !default;
$emerald-100: #d1fae5 !default;
$emerald-200: #a7f3d0 !default;
$emerald-300: #6ee7b7 !default;
$emerald-400: #34d399 !default;
$emerald-500: #10b981 !default;
$emerald-600: #059669 !default;
$emerald-700: #047857 !default;
$emerald-800: #065f46 !default;
$emerald-900: #064e3b !default;

$teal-50: #f0fdfa !default;
$teal-100: #ccfbf1 !default;
$teal-200: #99f6e4 !default;
$teal-300: #5eead4 !default;
$teal-400: #2dd4bf !default;
$teal-500: #14b8a6 !default;
$teal-600: #0d9488 !default;
$teal-700: #0f766e !default;
$teal-800: #115e59 !default;
$teal-900: #134e4a !default;

$cyan-50: #ecfeff !default;
$cyan-100: #cffafe !default;
$cyan-200: #a5f3fc !default;
$cyan-300: #67e8f9 !default;
$cyan-400: #22d3ee !default;
$cyan-500: #06b6d4 !default;
$cyan-600: #0891b2 !default;
$cyan-700: #0e7490 !default;
$cyan-800: #155e75 !default;
$cyan-900: #164e63 !default;

$light-blue-50: #f0f9ff !default;
$light-blue-100: #e0f2fe !default;
$light-blue-200: #bae6fd !default;
$light-blue-300: #7dd3fc !default;
$light-blue-400: #38bdf8 !default;
$light-blue-500: #0ea5e9 !default;
$light-blue-600: #0284c7 !default;
$light-blue-700: #0369a1 !default;
$light-blue-800: #075985 !default;
$light-blue-900: #0c4a6e !default;

$blue-50: #eff6ff !default;
$blue-100: #dbeafe !default;
$blue-200: #bfdbfe !default;
$blue-300: #93c5fd !default;
$blue-400: #60a5fa !default;
$blue-500: #3b82f6 !default;
$blue-600: #2563eb !default;
$blue-700: #1d4ed8 !default;
$blue-800: #1e40af !default;
$blue-900: #1e3a8a !default;

$indigo-50: #eef2ff !default;
$indigo-100: #e0e7ff !default;
$indigo-200: #c7d2fe !default;
$indigo-300: #a5b4fc !default;
$indigo-400: #818cf8 !default;
$indigo-500: #6366f1 !default;
$indigo-600: #4f46e5 !default;
$indigo-700: #4338ca !default;
$indigo-800: #3730a3 !default;
$indigo-900: #312e81 !default;

$violet-50: #f5f3ff !default;
$violet-100: #ede9fe !default;
$violet-200: #ddd6fe !default;
$violet-300: #c4b5fd !default;
$violet-400: #a78bfa !default;
$violet-500: #8b5cf6 !default;
$violet-600: #7c3aed !default;
$violet-700: #6d28d9 !default;
$violet-800: #5b21b6 !default;
$violet-900: #4c1d95 !default;

$purple-50: #faf5ff !default;
$purple-100: #f3e8ff !default;
$purple-200: #e9d5ff !default;
$purple-300: #d8b4fe !default;
$purple-400: #c084fc !default;
$purple-500: #a855f7 !default;
$purple-600: #9333ea !default;
$purple-700: #7e22ce !default;
$purple-800: #6b21a8 !default;
$purple-900: #581c87 !default;

$fuschia-50: #fdf4ff !default;
$fuschia-100: #fae8ff !default;
$fuschia-200: #f5d0fe !default;
$fuschia-300: #f0abfc !default;
$fuschia-400: #e879f9 !default;
$fuschia-500: #d946ef !default;
$fuschia-600: #c026d3 !default;
$fuschia-700: #a21caf !default;
$fuschia-800: #86198f !default;
$fuschia-900: #701a75 !default;

$pink-50: #fdf2f8 !default;
$pink-100: #fce7f3 !default;
$pink-200: #fbcfe8 !default;
$pink-300: #f9a8d4 !default;
$pink-400: #f472b6 !default;
$pink-500: #ec4899 !default;
$pink-600: #db2777 !default;
$pink-700: #be185d !default;
$pink-800: #9d174d !default;
$pink-900: #831843 !default;

$rose-50: #fff1f2 !default;
$rose-100: #ffe4e6 !default;
$rose-200: #fecdd3 !default;
$rose-300: #fda4af !default;
$rose-400: #fb7185 !default;
$rose-500: #f43f5e !default;
$rose-600: #e11d48 !default;
$rose-700: #be123c !default;
$rose-800: #9f1239 !default;
$rose-900: #881337 !default;
