// font sizes

$font-xs: 0.75rem !default;
$font-sm: 0.875rem !default;
$font-md: 1rem !default;
$font-lg: 1.125rem !default;
$font-xl: 1.25rem !default;
$font-2xl: 1.5rem !default;
$font-3xl: 1.875rem !default;
$font-4xl: 2.25rem !default;
$font-5xl: 3rem !default;
$font-6xl: 3.75rem !default;
$font-7xl: 4.5rem !default;
$font-8xl: 6rem !default;
$font-9xl: 8rem !default;

// font weights

$font-thin: 100 !default;
$font-extralight: 200 !default;
$font-light: 300 !default;
$font-normal: 400 !default;
$font-medium: 500 !default;
$font-semibold: 600 !default;
$font-bold: 700 !default;
$font-extrabold: 800 !default;
$font-black: 900 !default;
